<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Area: CLientProfile -->
</head>

@{
    switch (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
    {
        case "AccountSummary":
            ViewBag.statusAccountSummary = "active";
            break;
        case "Orders":
            ViewBag.statusOrders = "active";
            break;
        case "Reports":
            ViewBag.statusReports = "active";
            break;
        case "Billing":
            ViewBag.statusBilling = "active";
            break;
        case "Tickets":
            ViewBag.statusTickets = "active";
            break;
        case "Quotes":
            ViewBag.statusQuotes = "active";
            break;
        case "AccountProfile":
            ViewBag.statusAccountProfile = "active";
            break;
    }
}
}

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="http://edge.neocha.com/wp-content/uploads/2013/02/BANNER-PLACEHOLDER.jpg" alt="Company Banner" />
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="@ViewBag.statusAccountSummary">@Html.ActionLink("Account", "Index", "AccountSummary")</li>
                <li class="dropdown @ViewBag.statusOrders">
                    <a class="dropdown-toggle" href="/ClientPortal/Orders/Index">Orders</a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Order Details", "OrderDetails", "Orders")</li>
                        <li>@Html.ActionLink("Submissions", "Submissions", "Orders")</li>
                        <li>@Html.ActionLink("Testing & Results", "Testing", "Orders")</li>
                        <li>@Html.ActionLink("Permissions", "Permissions", "Orders")</li>
                    </ul>
                </li>
                <li role="presentation" class="@ViewBag.statusReports">@Html.ActionLink("Reports", "Index", "Reports")</li>
                <li role="presentation" class="@ViewBag.statusBilling">@Html.ActionLink("Billing", "Index", "Billing")</li>
                <li role="presentation" class="@ViewBag.statusTickets">@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                <li class="dropdown @ViewBag.statusQuotes">
                    <a class="dropdown-toggle" href="/ClientPortal/Quotes/Index">Quotes</a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Request Quote", "RequestQuote", "Quotes")</li>
                        <li>@Html.ActionLink("Pending Quotes", "PendingQuote", "Quotes")</li>
                        <li>@Html.ActionLink("Quotes", "Quotes", "Quotes")</li>
                    </ul>
                </li>
                <li role="presentation" class="@ViewBag.statusAccountProfile">@Html.ActionLink("Profile", "Index", "AccountProfile")</li>
            </ul>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


<style>
    .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
</style>